body{
  height: 100vh;
  overflow-y: hidden;
}
.main{
  text-align: center;
  padding: 3rem;
  height: 100dvh;
  background: radial-gradient(circle,rgba(0, 0, 255, 1) 0%, rgba(10, 10, 10, 1) 100%);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main section{
  border-radius: 3rem;
  width: 94%;
  margin: 2.5rem auto;
  border-top: 1px solid blue;
  padding: 2rem;
}
.text{
  font-size: xx-large;
  font-weight: bold;
}
#desc{
  display: block;
  font-size: medium;
}

.temp{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
#temp{
  flex: .7;
}
.sections{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
.items{
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #0404A7;
  box-shadow: 0px 0px 9px white;
  text-align: left;
  padding: 1.2rem;
  gap: .2rem;
}
.last{
  width: 100%;
}
.loader{

}

@media screen and (max-width: 670px ){
  .items{
    width: 100%;
  }
  body{
    overflow: auto;
  }
}